@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$brand: #D57B7B;
$brand-2: #C74D4D;

$site-padding: 2.5vw;

$breakpoint-small-plus: 600px;
$breakpoint-medium: 800px;
$breakpoint-medium-plus: 1000px;
$breakpoint-large: 1200px;
$breakpoint-large-plus: 1400px;
$breakpoint-xl: 1600px;
$breakpoint-xxl: 2000px;

:root {
  --brand: #D57B7B;
  --research-padding-top: 10vw;
}

body {
  font-family: 'Lora', serif;
  color: #65625D;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--brand);
  // &:focus {
  //   background-color: var(--brand);
  //   color: #fff;
  //   outline: .75rem solid var(--brand);
  // }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.align-center {
  align-items: center;
}


h1 {
  font-size: clamp(2rem, 4.5vw, 4rem);
  line-height: 1.25;
}

h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  line-height: 1.5;
}

h3 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-size: clamp(2rem, 3vw, 4rem);
  line-height: 1.5;
}

// p {
//   font-size: clamp(1rem, 1.5vw, 1.25rem);
//   max-width: 40em;
//   line-height: 1.5;
// }

.container {
  padding: 0 1rem;
  @media (min-width: $breakpoint-small-plus) {
    padding: 0 2rem;
  }
  @media (min-width: $breakpoint-medium-plus) {
    padding: 0 $site-padding;
  }
}

.grid-layout--1 {
  @media (min-width: $breakpoint-medium-plus) {
    display: grid;
    grid-template-columns: 1fr 20rem;
  }
}