
.intro {
  padding: 4rem 2rem clamp(2rem, 4vw, 4rem);
  @media (min-width: $breakpoint-xl) {
    padding: 4rem 2rem clamp(5rem, 7vw, 10rem);
  }
  h1 {
    padding-left: 0;
    line-height: 1.25;
    margin: 0;
    color: var(--brand);
    margin-bottom: 2rem;;
  }
  p {
    margin:0;
    margin-bottom: 0rem;
    align-self: flex-end;
    max-width: 40em;
    padding-right: 5vw;
  }
  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-left: 0;
    padding-right: 0;
    gap: 5vw;
     h1 {
      padding-left: 5vw;
       margin-bottom: 0;
    }
  }
  @media (min-width: $breakpoint-xl) {
    p {
      font-size: 1.25vw;
      opacity: 0.8;
      font-weight: 300;
    }
  }
}

.secondary {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  padding-bottom: 5vw;
  @media (min-width: 2000px) {
     grid-template-columns: 1fr 1fr;
  }
  img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: top center;
    grid-row: span 2;
  }
}

.block-2 {
  padding-right: 2rem;
  height: 100%
}

.block-3 {
  padding: 2.5vw;
  @media (min-width: 2000px) {
     padding: 5w;
  }
  margin-right: 5vw;
}

.stack {
  --stack-space: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > * + * { margin-top: var(--stack-space);}
  
  > p {
   margin-top: var(--stack-space);
   margin-bottom: 0;
  }
}

.amarillo {
  background-color: #FCF6EA;
  
  h1,h2,h3,h4,h5,h6 {
    color: #CBAC7A;
  }
  i {
    color: #CBAC7A;
    font-size: 2vw;
  }
  i.ring {
    background-color: darken(#CBAC7A,20%)#{22};
  }
  .button {
    background-color: #CBAC7A;
  }
}

i.ring {
  padding: 2vw;
  border-radius: 50%;
}

.form-email {
  display: flex;
  .input {
    background-color: #F2F2F2;
    border: 0 none;
    border-radius: 9rem;
    padding: 1rem;
    flex-grow: 1;
    outline: 0;
    &:focus {
      box-shadow:inset 0 0 0 3px  var(--brand);
    }
  }
  .button {
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.super-guide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  color: #726D67;
  position: relative;
  img {
    width: 100%;
    height: auto;
    margin-left: auto;
  }
}
 

.super-guide__form {
  &:before {
    content: "";
    position: absolute;
    bottom: calc(var(--research-padding-top, 10vh) * -1.25);
    left: 0;
    width: 40vw;
    height: 30vw;
    background-image: url(https://i.imgur.com/XFczUAw.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: -1;
  }
  padding: 0 5vw;
  align-self: center;
  justify-self: center;
  p {
    max-width: 30em;
  }
}

.research {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5vw;
  img {
    padding-top: var(--research-padding-top, 10vh);
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / span 2;
    z-index: 1;
  }
}

.research-blurb {
  padding: 0rem;
  padding-top: var(--research-padding-top, 10vh);
  background-color: #E7F4EA;
  color: #48620D;
  grid-row: 1;
  grid-column: 2 / span 5;
  padding-left: 25vw;
  p {
    max-width: 30em;
  }
   i.ring {
    background-color: darken(#E7F4EA,20%)#{44};
    font-size: 1.5vw;
    margin-right: .5vw;
  }
  a:not(.button) {
    color: #48620D;
  }
  .button {
    background-color: #48620D;
  }
}

.social {
  margin-top: auto;
  padding-top: 2.5vw;
  font-size: 2.5vw;
  display: flex;
  > i + i {
    margin-left: 2.5vw;
  }
}



.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  img {
    width: 100%;
    height: auto;
  }
}


.offer-blurb {
  padding: 5vw;
  i.ring {
    font-size: 2vw;
    color: var(--brand);
    background-color: darken($brand,20%)#{22};
  }
}