.intro {
  padding: 2rem 1rem 3rem;
  @media (min-width: $breakpoint-xl) {
    padding: 4rem 2rem 10rem;
  }
  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-left: 0;
    padding-right: 0;
    gap: 5vw;
  }

  h1 {
    padding-left: 0;
    line-height: 1.25;
    margin: 0;
    color: var(--brand);
    margin-bottom: 2rem;
    font-size: 3rem;
    @media (min-width: $breakpoint-large) {
      padding-left: 2.5vw;
      margin-bottom: 0;
    }
  }

  p {
    margin: 0;
    margin-bottom: 0rem;
    align-self: flex-end;
    max-width: 40em;
    padding-right: 5vw;
    @media (min-width: $breakpoint-xl) {
      font-size: 1.25rem;
      opacity: 0.8;
      font-weight: 300;
    }
  }
}

.secondary {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-medium-plus) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    padding-bottom: 5vw;
  }
  @media (min-width: 2000px) {
    grid-template-columns: 1fr 1fr;
  }
  img {
    max-height: 15rem;
    object-fit: cover;
    margin-bottom: 1rem;
    @media (min-width: $breakpoint-medium-plus) {
      height: 100%;
      width: 100%;
      max-height: 100vh;
      object-fit: cover;
      object-position: top center;
      grid-row: span 2;
      margin-bottom: 0;
    }
  }
  p {
    max-width: 40em;
    @media (min-width: $breakpoint-xl) {
      font-size: 1.25rem;
      opacity: 0.8;
      font-weight: 300;
    }
  }
}

.block-2 {
  padding: 1rem;
  @media (min-width: $breakpoint-small-plus) {
    padding: 2rem;
  }
  @media (min-width: $breakpoint-medium-plus) {
    padding: 0;
    padding-right: 2rem;
    height: 100%;
  }
}

.block-3 {
  padding: 1rem;
  @media (min-width: $breakpoint-small-plus) {
    padding: 2rem;
  }
  @media (min-width: $breakpoint-medium-plus) {
    padding: 2.5vw;
    margin-right: 5vw;
  }

  @media (min-width: 2000px) {
    padding: 5w;
  }
}

.stack {
  --stack-space: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > * + * {
    margin-top: var(--stack-space);
  }

  > p {
    margin-top: var(--stack-space);
    margin-bottom: 0;
  }
}

.amarillo {
  background-color: #fcf6ea;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #a57323;
  }
  i {
    color: #cbac7a;
    font-size: 2vw;
  }
  i.ring {
    background-color: darken(#cbac7a, 20%) #{22};
  }
  .button {
    background-color: #a57323;
  }
}

i.ring {
  padding: 2vw;
  border-radius: 50%;
}

.form-email {
  display: flex;
  .input {
    background-color: #f2f2f2;
    border: 0 none;
    border-radius: 9rem;
    padding: 1rem;
    flex-grow: 1;
    outline: 0;
    &:focus {
      box-shadow: inset 0 0 0 3px var(--brand);
    }
  }
  .button {
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.super-guide {
  display: flex;
  flex-direction: column;
  color: #726d67;
  position: relative;
  @media (min-width: $breakpoint-medium-plus) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
  }
  img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    @media (min-width: $breakpoint-large) {
      width: 100%;
      height: auto;
      margin-left: auto;
    }
  }
}

.super-guide__form {
  @media (min-width: $breakpoint-medium-plus) {
    padding: 0 5vw;
    align-self: center;
    justify-self: center;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: calc(var(--research-padding-top, 10vh) * -1.25);
    left: 0;
    width: 40vw;
    height: 30vw;
    background-image: url(https://i.imgur.com/XFczUAw.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: -1;
  }
  p {
    max-width: 30em;
  }
}

.research {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5vw;
  img {
    padding-top: var(--research-padding-top, 10vh);
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / span 2;
    z-index: 1;
  }
}

.research-blurb {
  padding: 0rem;
  padding-top: var(--research-padding-top, 10vh);
  background-color: #e7f4ea;
  color: #48620d;
  grid-row: 1;
  grid-column: 2 / span 5;
  padding-left: 25vw;
  p {
    max-width: 30em;
  }
  i.ring {
    background-color: darken(#e7f4ea, 20%) #{44};
    font-size: 1.5vw;
    margin-right: 0.5vw;
  }
  a:not(.button) {
    color: #48620d;
  }
  .button {
    background-color: #48620d;
  }
}

.social {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #555;
  svg {
    height: 1.5rem;
    width: auto;
    fill: #555;
  }
  > * + * {
    margin-left: 1rem;
    @media (min-width: $breakpoint-medium-plus) {
      margin-left: 2rem;
    }
    
  }
}

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  img {
    width: 100%;
    height: auto;
  }
}

.offer-blurb {
  padding: 5vw;
  i.ring {
    font-size: 2vw;
    color: var(--brand);
    background-color: darken($brand, 20%) #{22};
  }
}
