.hidden {
	display: none !important;
}

.block {
	display: block;
}

.flow-root {
  display: flow-root;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: column;
}

.inline-flex {
	display: inline-flex;
}

.grid {
	display: inline-flex;
}
