
.button {
  background-color: var(--brand);
  color: #fff;
  padding: .75rem 1.25rem;
  border-radius: 5rem;
  display: inline-block;
  border: 0 none;
  line-height: 1;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  &:focus {
    background-color: #111 !important;
    outline: 0;
  }
}

.button.block {
  width: 100%;
}

.button-lg {
  font-size: 1.25rem;
}