.header {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 500;
  @media (min-width: $breakpoint-medium) {
    padding: $site-padding $site-padding;
  }
  
}

.logo {
  line-height: 1;
  a {
    display: block;
    &:focus {
      background-color: transparent;
      outline: 0 none;
    }
  }
  svg {
    width: 100%;
    max-width: 12rem;
    height: auto;
    display: block;
    @media (min-width: $breakpoint-medium-plus) {
      max-width: 25rem;
    }
  }
  path {
    fill: #aaa;
  }
}

.nav {
  --menu-display: none;
  display: var(--menu-display);
  align-items: center;
  margin-top: 2.5vw;
  border: 1px solid orange;
  width: 100%;
  @media (min-width: $breakpoint-medium) {
    margin-top: 0;
    width: auto;
    --menu-display: flex !important;
  }
  @media (min-width: $breakpoint-large) {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  }

  a {
    line-height: 1;
  }
  
  a + a {
    margin-left: 2rem;
    @media (min-width: $breakpoint-large) {
     margin-left: clamp(1rem, 3vw, 3rem);
    }
  }
}

#toggle-nav {
  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
	flex-wrap: wrap;
}

.menu-item + .menu-item {
	margin-left: 2rem;
}