.header {
  border: 1px solid blue;
  padding: 2.5vw 2rem 0;
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-medium-plus) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $site-padding $site-padding 0;
  }
}

.logo {
  border: 1px solid red;
  line-height: 1;
  a {
    &:focus {
      background-color: transparent;
      outline: 0 none;
    }
  }
  svg {
    border: 1px solid blueviolet;
    width: 100%;
    max-width: 15rem;
    height: auto;
    @media (min-width: $breakpoint-medium-plus) {
      max-width: 25rem;
    }
  }
  path {
    fill: #aaa;
  }
}

.nav {
  --menu-display: none;
  display: var(--menu-display);
  align-items: center;
  padding-top: 2.5vw;
  border: 1px solid orange;
  @media (min-width: $breakpoint-medium) {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  @media (min-width: $breakpoint-large) {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  }

  a {
    line-height: 1;
  }
  
  a + a {
    margin-left: 2rem;
    @media (min-width: $breakpoint-large) {
     margin-left: clamp(1rem, 3vw, 3rem);
    }
  }
}

.menu {
	flex-wrap: wrap;
	align-items: center;
}

.menu-item + .menu-item {
	margin-left: 2rem;
}